body {
  font-family: 'TypoPRO Source Sans Pro';
  font-size: 16px;
  margin: 0px;
  background-color: #643B0F;
  color: #EFE0B9;
}

a {
  color: #EFE0B9;
}

a:link {
  text-decoration: none;
}

a:active {
  outline: none;
}

main header {
  background-color: #211100;
  padding: 5% 0 5% 15%;
}

main header .title {
  font-family: 'TypoPRO Source Code Pro';
  color: #E4B04A;
  font-weight: 600;
  font-size: 60px;
}

main header .sub {
  font-family: 'TypoPRO Coustard';
  font-size: 22px;
  font-weight: 300;
  margin-left: 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

main header .sub .statement {
  flex: 0 0 auto;
  margin-right: 12px;
}

section {
  padding-top: 5%;
}

hr {
  margin-top: 3%;
  border: 1px solid #211100;
  max-width: 60%;
}

section#links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

section#links figure {
  flex: 0 0 auto;
  min-width: 200px;
  text-align: center;
  margin: 0;
  margin-left: -2px;
  margin-bottom: 25px;
}

section#links figcaption {
  padding: 10px;
  font-weight: 600;
}